<div class="center jumbotron">
	  <h1>¿Qué tipo de usuario eres?</h1>

	  <h2>
	    Presiona el botón que desees para registrarte.
	  </h2>

	  <%= link_to "PERSONA",signup_path+"?type=person" , class: "btn btn-lg btn-primary" %>
	  <%= link_to "EMPRESA",signup_path+"?type=company" , class: "btn btn-lg btn-primary" %>  
	
	</div>