<div class="center jumbotron">
	  <h1>Bienvenido a  CORNER</h1>

	  <h2>
	    Centro de alquiler de canchas de fútbol más grande del país.
	  </h2>

	  <%= link_to "PERSONA",signup_path+"?type=person" , class: "btn btn-lg btn-primary" %>
	  <%= link_to "EMPRESA",signup_path+"?type=company" , class: "btn btn-lg btn-primary" %>  
	
	</div>